COMOTE_MANAGER_HOST=127.0.0.1
COMOTE_MANAGER_PORT=45820
COMOTE_MANAGER_PASSWORD=comote-test-2026
COMOTE_CLIENT_NAME=Local-Test-PC
COMOTE_UPDATE_MANIFEST_URL=https://raw.githubusercontent.com/In-Duck/Comote/main/Distribution/client-update.latest.json
